.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/VsmLink/v15/.suo
.vs/config/applicationhost.config
visma192x192.png
images/visma128.png
images/visma48.png
images/visma16.png
images/icon19.png.bak
src/test.html
images/icon19.png.bak1
